<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/webjars/bootstrap-icons/font/bootstrap-icons.css"/>

  <title>Sales Taxes</title>
</head>
<body>

<div class="container" th:if="${newGoodsAdded}">
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <h4 class="alert-heading">
      <i class="bi bi-exclamation-triangle"></i> List was updated
    </h4>
    <p th:text="${newGoodsAdded}">
      Goods was added.
    </p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>

<div class="container">
  <div class="container-fluid bg-light p-5">
    <h1>Problem 1: Sales Taxes</h1>
    <p>Coding challenge for itemis CC Cloud & Enterprise recruiting</p>
  </div>

  <table class="table caption-top my-4">
    <caption>List of goods</caption>
    <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Imported?</th>
      <th scope="col">Price without Tax</th>
      <th scope="col">Price with Tax</th>
      <th scope="col">&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="goods,index: ${goodsList}">
      <th scope="row" th:text="${index.count}">1</th>
      <td th:text="${goods.goodsName}">music CD</td>
      <td th:text="${goods.getCategory()}">Others</td>
      <td th:text="${goods.origin == T(bach.sales.taxes.modell.Origin).IMPORTED ? 'Yes': 'no'}">No
      </td>
      <td th:text="${#numbers.formatDecimal(goods.price, 1, 'COMMA', 2, 'POINT')}">14.99</td>
      <td th:text="${goods.calculatePriceWithTax()}">16.49</td>
      <td>
        <form method="post"
              action="#" th:action="@{/deleteGoods/{id}(id=${goods.id})}"
              class="text-center">
          <button type="submit" class="btn btn-danger">
            <i class="bi bi-trash"></i> Delete
          </button>
        </form>
      </td>
    </tr>
    </tbody>
    <tfoot>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>Sales Taxes: <span th:text="${salesTaxes}">1.50</span></td>
    <td>Total: <span th:text="${totalPrice}">16.49</span></td>
    </tfoot>
  </table>

  <form
      class="row gy-2 gx-3 align-items-center"
      method="post"
      action="#"
      th:action="@{/addGoods}"
      th:object="${goodsForm}"
  >
    <h3>Add new goods</h3>
    <div class="row">
      <div class="col-auto">
        <div class="form-floating">
          <input
              type="text"
              class="form-control text-center"
              id="name"
              placeholder="name"
              th:field="*{goodsName}"
              th:classappend="${#fields.hasErrors('goodsName')} ? 'is-invalid' : ''"
          >
          <div
              class="invalid-feedback"
              th:if="${#fields.hasErrors('goodsName')}"
              th:errors="*{goodsName}"
          ></div>
          <label for="name">Name</label>
        </div>
      </div>
      <div class="col-auto">
        <div class="form-floating">
          <select class="form-select" id="category" th:field="*{category}">
            <option selected value="others">others</option>
            <option value="books">books</option>
            <option value="food">food</option>
            <option value="medicalProducts">medical products</option>
          </select>
          <label for="category">Select category</label>
        </div>
      </div>
      <div class="col-2">
        <div class="form-floating">
          <select class="form-select" id="imported" th:field="*{origin}">
            <option selected value="NOTIMPORTED">No</option>
            <option value="IMPORTED">Yes</option>
          </select>
          <label for="imported">Imported?</label>
        </div>
      </div>
      <div class="col-auto">
        <div class="form-floating">
          <input
              type="text"
              class="form-control text-center"
              id="price"
              placeholder="price"
              th:field="*{price}"
              th:classappend="${#fields.hasErrors('price')} ? 'is-invalid' : ''"
          >
          <div
              class="invalid-feedback"
              th:if="${#fields.hasErrors('price')}"
              th:errors="*{price}"
          ></div>
          <label for="price">Price</label>
        </div>
      </div>

      <div class="row justify-content-end">
        <div class="col-auto">
          <button type="submit" class="btn btn-primary">Add goods</button>
        </div>
      </div>

    </div>
  </form>

  <hr>

  <form
      class="row gy-2 gx-3 align-items-center"
      method="post"
      action="#"
      th:action="@{/addGoodsByInputString}"
      th:object="${inputStringForm}"
  >

    <div class="row">
      <div class="col-4">
        <div class="form-floating">
          <input
              type="text"
              class="form-control text-center"
              id="inputString"
              placeholder="inputString"
              th:field="*{inputString}"
              th:classappend="${#fields.hasErrors('inputString')} ? 'is-invalid' : ''"
          >
          <div
              class="invalid-feedback"
              th:if="${#fields.hasErrors('inputString')}"
              th:errors="*{inputString}"
          ></div>
          <label for="inputString">Input String</label>
        </div>
      </div>

      <div class="row justify-content-end">
        <div class="col-auto">
          <button type="submit" class="btn btn-primary">Add goods</button>
        </div>
      </div>

    </div>
  </form>

  <a class="btn btn-info" data-bs-toggle="collapse" href="#collapseExample" role="button"
     aria-expanded="false" aria-controls="collapseExample">
    more examples for Input String
  </a>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <ul class="list-group">
        <li class="list-group-item">1 book at 12.49</li>
        <li class="list-group-item">1 music CD at 14.99</li>
        <li class="list-group-item">1 chocolate bar at 0.85</li>
        <li class="list-group-item">1 imported box of chocolates at 10.00</li>
        <li class="list-group-item">1 imported bottle of perfume at 47.50</li>
        <li class="list-group-item">1 imported bottle of perfume at 27.99</li>
        <li class="list-group-item">1 bottle of perfume at 18.99</li>
        <li class="list-group-item">1 box of imported chocolates at 11.25</li>
        <li class="list-group-item">5 box of imported chocolates at 11.25</li>
        <li class="list-group-item">8 box of imported chocolates at 11.25</li>
      </ul>
    </div>
  </div>
</div>

<script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>